@import "tailwindcss";

@theme {
  --color-border: hsl(var(--border));
  --color-background: hsl(var(--background));
  --color-foreground: hsl(var(--foreground));

  /* text colors */
  --color-primary: hsl(var(--primary));
  --color-primary-foreground: hsl(var(--primary-foreground));

  /* card colors */
  --color-card: hsl(var(----card));

  /* animations */
  --animate-float: hsl(var(--card));
/*   --animate */

}
